@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}

body{
    font-family:'Space Grotesk',sans-serif;
    background:#050816;
    color:white;
    overflow-x:hidden;
    line-height:1.3;
}

/* ================= GLOBAL BOX EFFECT ================= */

.about-box,
.edu-box,
.project-card,
.ach-box,
#contact,
#pl,
#fe,
#be,
#db,
#ac,
#tools{

    position:relative;

    background:#070b1f;

    border-radius:30px;

    border:2px solid rgba(56,189,248,0.50);

    box-shadow:
    0 0 5px rgba(56,189,248,0.28),
    0 0 14px rgba(56,189,248,0.14),
    0 0 28px rgba(56,189,248,0.05);

    transition:
    transform 0.35s ease,
    box-shadow 0.35s ease,
    border 0.35s ease;
}

.about-box:hover,
.edu-box:hover,
.project-card:hover,
.ach-box:hover,
#contact:hover,
#pl:hover,
#fe:hover,
#be:hover,
#db:hover,
#ac:hover,
#tools:hover{

    transform:
    translateY(-6px)
    scale(1.005);

    border:2px solid rgba(56,189,248,0.72);

    box-shadow:
    0 0 8px rgba(56,189,248,0.38),
    0 0 18px rgba(56,189,248,0.16),
    0 0 35px rgba(56,189,248,0.07);
}

/* ================= NAVBAR ================= */

#navbar{
    width:100%;
    padding:18px 7%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:rgba(5,8,22,0.95);
    backdrop-filter:blur(14px);
    border-bottom:1px solid rgba(255,255,255,0.05);
    position:fixed;
    top:0;
    z-index:1000;
}

.nav-left{
    display:flex;
    align-items:center;
    gap:10px;
}

.logo-circle{
    width:18px;
    height:18px;
    border-radius:4px;
    background:#38bdf8;
    transform:rotate(45deg);

    box-shadow:
    0 0 6px rgba(56,189,248,0.45);
}

.logo-text{
    font-size:28px;
    font-weight:700;
}

.nav-links{
    display:flex;
    gap:24px;
    list-style:none;
}

.nav-links a{
    text-decoration:none;
    color:#dbeafe;
    font-size:16px;
    font-weight:600;
    transition:0.3s;
}

.nav-links a:hover{
    color:#38bdf8;
}

.nav-buttons{
    display:flex;
    gap:12px;
}

.nav-btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration:none;
    padding:11px 22px;
    border-radius:14px;

    background:#10203d;

    border:1px solid rgba(56,189,248,0.45);

    color:white;

    font-size:14px;
    font-weight:700;

    transition:0.3s;
}

.nav-btn:hover{
    transform:translateY(-3px);

    background:#16335d;

    box-shadow:
    0 0 10px rgba(56,189,248,0.18);
}

/* ================= HERO ================= */

#home{
    width:100%;
    min-height:100vh;
    display:grid;
    grid-template-columns:1.1fr 0.9fr;
    align-items:center;
    padding:120px 8% 40px;
    gap:30px;

    background:
    radial-gradient(circle at top left,rgba(56,189,248,0.08),transparent 28%),
    radial-gradient(circle at bottom right,rgba(14,165,233,0.08),transparent 30%),
    #050816;
}

.home-left h3{
    font-size:18px;
    color:#38bdf8;
    margin-bottom:10px;
    letter-spacing:4px;
}

.home-left h1{
    font-size:100px;
    line-height:0.95;
    margin-bottom:16px;
    letter-spacing:-5px;
}

.home-left h2{
    font-size:30px;
    color:#dbeafe;
    margin-bottom:16px;
}

.home-left p{
    font-size:18px;
    line-height:30px;
    color:#cbd5e1;
    margin-bottom:26px;
    max-width:700px;
}

.home-buttons{
    display:flex;
    gap:18px;
}

/* UPDATED HERO BUTTONS */

.btn1,
.btn2{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding:16px 34px;

    border-radius:18px;

    font-size:16px;
    font-weight:700;

    cursor:pointer;

    transition:0.35s ease;
}

.btn1{

    background:#1e7fd1;

    color:white;

    border:none;

    box-shadow:
    0 0 8px rgba(56,189,248,0.18);
}

.btn1:hover{

    transform:translateY(-4px);

    background:#2891eb;

    box-shadow:
    0 0 12px rgba(56,189,248,0.25);
}

.btn2{

    background:#0c1529;

    border:2px solid rgba(56,189,248,0.7);

    color:white;
}

.btn2:hover{

    transform:translateY(-4px);

    background:#13233f;

    box-shadow:
    0 0 10px rgba(56,189,248,0.16);
}
/* ================= PROFILE IMAGE ================= */

.home-right{

    position:relative;

    display:flex;
    justify-content:center;
    align-items:center;

    transition:0.3s ease;
}

/* OUTER ROTATING BLUE DASHED RING */

.home-right::before{

    content:"";

    position:absolute;

    width:430px;
    height:430px;

    border-radius:50%;

    border:3px dashed #38bdf8;

    animation:rotateCircle 18s linear infinite;

    box-shadow:
    0 0 18px rgba(56,189,248,0.30);

    z-index:3;
}

/* LIGHT BLUE FILL TOUCHING BOTH RINGS */

.home-right::after{

    content:"";

    position:absolute;

    width:430px;
    height:430px;

    border-radius:50%;

    background:
    radial-gradient(
    circle,
    rgba(56,189,248,0.22) 0%,
    rgba(56,189,248,0.16) 55%,
    rgba(56,189,248,0.10) 100%);

    z-index:1;
}

/* IMAGE */

.home-right img{

    width:320px;
    height:320px;

    object-fit:cover;
    object-position: center 15%;

    border-radius:50%;

    position:relative;

    z-index:2;

    padding:6px;

    background:#d9f4ff;

    border:4px solid #38bdf8;

    box-shadow:
    0 0 25px rgba(56,189,248,0.35),
    0 0 60px rgba(56,189,248,0.16);

    transition:
    transform 0.25s ease,
    box-shadow 0.3s ease;
}

/* MOVE SLIGHTLY ON HOVER */

.home-right:hover img{

    transform:
    translateY(-4px)
    translateX(3px)
    scale(1.03);

    box-shadow:
    0 0 40px rgba(56,189,248,0.48),
    0 0 80px rgba(56,189,248,0.20);
}

/* ANIMATION */

@keyframes rotateCircle{

    from{

        transform:rotate(0deg);
    }

    to{

        transform:rotate(360deg);
    }
}
/* ================= TITLES ================= */

.about-title,
.skills-title,
.project-title,
.edu-title,
.ach-title,
.contact-title{
    text-align:center;
    font-size:48px;
    margin-bottom:28px;
    letter-spacing:2px;
}

/* ================= ABOUT ================= */

#about{
    width:85%;
    margin:90px auto;
}

.about-box{
    padding:70px;
    overflow:hidden;
    min-height:520px;

    display:flex;
    justify-content:flex-end;
    align-items:center;
}

.about-box::before{
    content:"ABOUT ME";
    position:absolute;
    left:70px;
    top:50%;
    transform:translateY(-50%);
    font-size:78px;
    font-weight:700;
    z-index:2;
}

.about-box::after{
    content:"ABOUT";
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    font-size:210px;
    color:rgba(255,255,255,0.025);
}

.about-box p{
    width:48%;
    font-size:18px;
    line-height:31px;
    color:#dbeafe;
    z-index:3;
}

/* ================= SKILLS ================= */

#skills{
    width:85%;
    margin:90px auto;

    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:24px;
}

#pl,
#fe,
#be,
#db,
#ac,
#tools{
    padding:30px;
}

#pl h3,
#fe h3,
#be h3,
#db h3,
#ac h3,
#tools h3{
    font-size:28px;
    color:#38bdf8;
    margin-bottom:18px;
}

.skill-box{
    display:flex;
    align-items:center;
    gap:12px;

    padding:15px;
    margin-bottom:12px;

    border-radius:16px;

    background:#11182d;

    border:1px solid transparent;

    transition:0.3s ease;
}

.skill-box span{
    color:white;
    transition:0.3s;
}

.skill-box:hover{

    transform:translateX(5px);

    background:#10203d;

    border:1px solid rgba(56,189,248,0.35);

    box-shadow:
    0 0 6px rgba(56,189,248,0.12);
}

.skill-box:hover span{
    color:#dff6ff;
}

.skill-box img{
    width:28px;
    height:28px;
}

/* ================= EDUCATION ================= */

#education{
    width:85%;
    margin:90px auto;

    display:flex;
    flex-direction:column;
    gap:24px;
}

.edu-subtitle,
.ach-subtitle,
.project-subtitle,
.contact-subtitle{
    max-width:850px;
    margin:0 auto 32px;

    text-align:center;

    font-size:18px;
    line-height:30px;

    color:#cbd5e1;
}

.edu-box{
    padding:40px;
}

.edu-box h3{
    font-size:34px;
    margin-bottom:8px;
}

.edu-box h4{
    font-size:20px;
    margin-bottom:10px;
    color:#cbd5e1;
}

.year{
    display:inline-block;
    padding:7px 16px;
    border-radius:40px;
    background:#11182d;
    color:#38bdf8;
    margin-bottom:12px;
}

.grade{
    font-size:22px;
    color:#38bdf8;
    margin-bottom:12px;
}

.desc{
    font-size:17px;
    line-height:29px;
    color:#dbeafe;
}

/* ================= PROJECTS ================= */

#projects{
    width:85%;
    margin:90px auto;
}

.project-container{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:28px;
}

.project-card{
    overflow:hidden;
}

.project-img{
    width:100%;
    height:290px;
    object-fit:cover;
}

.project-content{
    padding:28px;
}

.project-content h3{
    font-size:36px;
    margin-bottom:12px;
}

.tech{
    color:#38bdf8;
    margin-bottom:14px;
    line-height:28px;
    font-weight:700;
}

.project-desc{
    font-size:17px;
    line-height:30px;
    color:#cbd5e1;
    margin-bottom:22px;
}

/* UPDATED PROJECT BUTTONS */

.project-buttons{
    display:flex;
    gap:16px;
    margin-top:10px;
}

.project-btn{
    text-decoration:none;

    padding:14px 28px;

    border-radius:16px;

    border:2px solid rgba(56,189,248,0.65);

    background:#10203d;

    color:white;

    font-size:16px;
    font-weight:600;

    transition:0.35s ease;

    box-shadow:
    0 0 6px rgba(56,189,248,0.16);
}

.project-btn:hover{

    transform:translateY(-3px);

    background:#16335d;

    color:white;

    box-shadow:
    0 0 10px rgba(56,189,248,0.18);
}

/* ================= ACHIEVEMENTS ================= */

#achievements{
    width:85%;
    margin:90px auto;
}

.ach-container{
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.ach-box{
    padding:30px;
    width: 380px;
    max-width: 100%;
}

.top-line{
    display:flex;
    align-items:center;
    gap:14px;
    margin-bottom:18px;
}

/* PLATFORM NAME WHITE */

.top-line h3{
    font-size:28px;
    color:white;
}

.top-line img{
    width:48px;
    height:48px;
}

.handle-name{
    color:#38bdf8;
    text-decoration:none;
    font-weight:700;
}

/* RATING WHITE */

.rating{
    margin:14px 0;
    font-size:17px;
    color:white;
}

.extra{
    margin-bottom:10px;
    color:#dbeafe;
}

/* ================= CONTACT ================= */

#contact{
    width:85%;
    margin:90px auto;
    padding:55px;
}

#contact h2{
    font-size:46px;
    margin-bottom:12px;
}

.mail{
    margin-bottom:26px;
    color:#cbd5e1;
}

form{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:18px;
}

textarea{
    grid-column:1/3;
    height:170px;
}

button{
    grid-column:1/3;
}

input,
textarea{
    padding:16px;
    border-radius:16px;
    border:1px solid rgba(255,255,255,0.08);

    background:#11182d;
    color:white;

    outline:none;

    transition:0.3s;
}

input:focus,
textarea:focus{
    border:1px solid rgba(56,189,248,0.7);

    box-shadow:
    0 0 8px rgba(56,189,248,0.12);
}

button{
    padding:16px;
    border:none;
    border-radius:16px;

    background:#1e7fd1;

    color:white;

    font-size:16px;
    font-weight:700;

    cursor:pointer;

    transition:0.3s;
}

button:hover{
    transform:translateY(-3px);

    background:#2891eb;

    box-shadow:
    0 0 10px rgba(56,189,248,0.16);
}

/* ================= FOOTER ================= */

#footer{
    background:#030712;
    padding:70px 20px;
    text-align:center;
    border-top:1px solid rgba(56,189,248,0.10);
}

#footer h2{
    font-size:42px;
    margin-bottom:10px;
}

#footer p{
    color:#cbd5e1;
}

.footer-links,
.social-links{
    display:flex;
    justify-content:center;
    gap:22px;
    flex-wrap:wrap;
    margin:22px 0;
}

.footer-links a,
.social-links a{
    text-decoration:none;
    color:#cbd5e1;
    transition:0.3s;
}

.footer-links a:hover,
.social-links a:hover{
    color:#38bdf8;
}

/* ================= RESPONSIVE ================= */

@media(max-width:1200px){

    #home,
    #skills,
    .project-container,
    .ach-container{
        grid-template-columns:1fr;
    }

    .nav-links,
    .nav-buttons{
        display:none;
    }

    .home-left{
        text-align:center;
    }

    .home-buttons{
        justify-content:center;
    }

    .home-right{
        margin-top:40px;
    }

    .about-box{
        flex-direction:column;
        justify-content:center;
        align-items:center;
        padding:50px 30px;
    }

    .about-box::before{
        position:relative;
        left:auto;
        top:auto;
        transform:none;
        margin-bottom:30px;
        text-align:center;
        font-size:50px;
    }

    .about-box p{
        width:100%;
        text-align:center;
    }
}

@media(max-width:700px){

    .home-left h1{
        font-size:60px;
    }

    .home-left h2{
        font-size:22px;
    }

    .about-title,
    .skills-title,
    .project-title,
    .edu-title,
    .ach-title,
    .contact-title{
        font-size:34px;
    }

    .project-container,
    .ach-container,
    #skills{
        grid-template-columns:1fr;
    }

    .home-right img{
        width:260px;
        height:260px;
    }

    .about-box{
        padding:35px 22px;
    }

    .about-box::before{
        font-size:36px;
    }

    .about-box::after{
        font-size:90px;
    }

    form{
        grid-template-columns:1fr;
    }

    textarea,
    button{
        grid-column:auto;
    }
}












/* ================= THEME TOGGLE BUTTON ================= */

#theme-toggle{

    padding:11px 20px;

    border-radius:14px;

    border:1px solid rgba(255,255,255,0.15);

    background:#101a30;

    color:white;

    font-size:14px;
    font-weight:700;

    cursor:pointer;

    transition:0.3s;
}

#theme-toggle:hover{

    background:#16335d;

    box-shadow:
    0 0 10px rgba(56,189,248,0.18);
}
/* ================= LIGHT MODE ================= */

body.light-mode{

    background:#f5f7fb;
    color:#111827;
}

/* NAVBAR */

body.light-mode #navbar{

    background:rgba(255,255,255,0.94);

    border-bottom:1px solid #e5e7eb;
}

body.light-mode .logo-circle{

    background:#111827;
    box-shadow:none;
}

body.light-mode .logo-text,
body.light-mode .nav-links a{

    color:#111827;
}

body.light-mode .nav-links a:hover{

    color:#000;
}

body.light-mode .nav-btn{

    background:#111827;
    color:white;
    border:none;
    box-shadow:none;
}

body.light-mode .nav-btn:hover{

    background:#000;
    transform:translateY(-3px);
}

/* HOME */

body.light-mode #home{

    background:
    radial-gradient(circle at top left,#e0e7ff 0%,transparent 28%),
    radial-gradient(circle at bottom right,#dbeafe 0%,transparent 30%),
    #f5f7fb;
}

body.light-mode .home-left h1,
body.light-mode .home-left h2{

    color:#111827;
}

body.light-mode .home-left p{

    color:#4b5563;
}

body.light-mode .home-right::before{

    background:#dbeafe;
}

body.light-mode .home-right::after{

    border:2px dashed #cbd5e1;
}

body.light-mode .home-right img{

    border:10px solid white;

    box-shadow:
    0 25px 60px rgba(0,0,0,0.12),
    0 0 0 18px rgba(255,255,255,0.5);
}

/* TITLES */

body.light-mode .about-title,
body.light-mode .skills-title,
body.light-mode .project-title,
body.light-mode .edu-title,
body.light-mode .ach-title,
body.light-mode .contact-title{

    color:#111827;
}

/* BOXES */

body.light-mode .about-box,
body.light-mode .edu-box,
body.light-mode .project-card,
body.light-mode .ach-box,
body.light-mode #contact,
body.light-mode #pl,
body.light-mode #fe,
body.light-mode #be,
body.light-mode #db,
body.light-mode #ac,
body.light-mode #tools{

    background:white;

    border:1px solid #eef2f7;

    box-shadow:
    0 10px 35px rgba(0,0,0,0.05);
}

/* TEXT */

body.light-mode p,
body.light-mode h3,
body.light-mode h4,
body.light-mode span{

    color:#111827;
}

body.light-mode .desc,
body.light-mode .project-desc,
body.light-mode .mail,
body.light-mode .edu-subtitle,
body.light-mode .project-subtitle,
body.light-mode .ach-subtitle,
body.light-mode .contact-subtitle{

    color:#4b5563;
}

/* ABOUT */

body.light-mode .about-box::after{

    color:#f3f4f6;
}

/* SKILL BOX */

body.light-mode .skill-box{

    background:#f9fafb;
}

body.light-mode .skill-box:hover{

    background:#111827;
    transform:translateX(8px);
}

body.light-mode .skill-box:hover span{

    color:white;
}

/* BUTTONS */

body.light-mode .btn1,
body.light-mode .project-btn,
body.light-mode button{

    background:#111827;
    color:white;
    border:none;
    box-shadow:none;
}

body.light-mode .btn1:hover,
body.light-mode .project-btn:hover,
body.light-mode button:hover{

    background:black;
    transform:translateY(-4px);
}

body.light-mode .btn2{

    background:white;

    border:2px solid #d1d5db;

    color:#111827;
}

body.light-mode .btn2:hover{

    background:#111827;
    color:white;
    border-color:#111827;
}

/* PROJECT BUTTONS */

body.light-mode .project-btn{

    background:#111827;
    color:white;
}

/* ACHIEVEMENTS */

body.light-mode .handle-name{

    color:#111827;
}

body.light-mode .rating{

    color:#111827;
}

/* INPUTS */

body.light-mode input,
body.light-mode textarea{

    background:#f9fafb;

    border:1px solid #e5e7eb;

    color:#111827;
}

body.light-mode input:focus,
body.light-mode textarea:focus{

    border-color:#111827;
}

/* FOOTER */

body.light-mode #footer{

    background:#111827;
}

body.light-mode #footer p,
body.light-mode #footer a{

    color:#d1d5db;
}

body.light-mode #footer a:hover{

    color:white;
}

/* TOGGLE BUTTON */

#theme-toggle{

    padding:11px 20px;

    border-radius:14px;

    border:none;

    background:#101a30;

    color:white;

    font-size:14px;
    font-weight:700;

    cursor:pointer;

    transition:0.3s;
}

#theme-toggle:hover{

    transform:translateY(-3px);
}

body.light-mode #theme-toggle{

    background:#111827;
    color:white;
}

/* SMOOTH TRANSITION */

body,
.about-box,
.edu-box,
.project-card,
.ach-box,
.skill-box,
.project-btn,
.btn1,
.btn2,
.nav-btn,
#navbar,
#footer,
#contact,
input,
textarea{

    transition:
    background 0.35s ease,
    color 0.35s ease,
    border 0.35s ease,
    box-shadow 0.35s ease,
    transform 0.35s ease;
}